body {
    background-color: rgb(195, 200, 248);
    font-size: 25px
    }
        
   
    #Datos {
        background-color: rgb(181, 241, 121);
        text-align: center;
        

    }

   









    

